*{
    padding:0;
    margin:0;
}

.grid-container{
    display:grid;
    grid-template-columns:200px 250px;
    justify-content: center;
    gap:40px;
    outline: 2px solid black;
    margin-top:20px;
    border-radius: 20px;
    width:550px;
    margin-left:80px;
    
}

.profile{
    
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 20px;
    line-height: 1.4;
   
}

.password-container{
    position: relative;
}

#password{
    position: relative;
}


#toggleIcon{
    position: absolute;
    top:4px;
    right:0px;
    
}

.password-contain{
    position: relative;
}

#confrim-password{
    position:relative;
}

#confirmIcon{
    position: absolute;
    top:4px;
    right:0px;
}


input{
    height:30px;
    width:200px;
    border-radius: 10px;
    border: 1px solid black;
}

input:focus{
  border-color: green;
  background-color:beige;
  outline:none;
}

input[type="button"]{
    background-color: black;
    color:white;
    margin-top:10px;
    margin-bottom: 10px;
}

label[for="Full Name"]{

    margin-top:20px;
}
input[id="email"]{
    margin-bottom: 10px;
    border-color:red;
}

#email::placeholder{
    color:red;
}

input[placeholder]{
    padding-left:10px;
    
}

.profile button{
    height:70px;
    width:70px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 50px;
    
    
}

.complete{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.box{
    border-radius: 20px;
    background-color: rgb(215, 213, 213);
    font-size: 15px;
    width:190px;
    height:130px;
    padding: 2em;
    line-height: 1.4;
    margin-bottom: 10px;
}

.p1,.p2, .p3{
    text-decoration: line-through;
    color: grey;
}

.error-message {
    color: #D32F2F; 
    font-size: 0.8em;
    margin-top: 0px;
    display: block;
}
